/* Define custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Define custom properties*/

:root {
    --font-site-title: BallparkWeiner, serif;
    --font-heading: Dayrom, serif;
    --font-paragraph: 'Trebuchet MS', Arial, sans-serif;
}

/* Styling generic elements*/

body {
    background: url('images/yellow_background.png');
    width: 900px;
    margin: auto;
}

p, a {
    font-family: var(--font-paragraph);
    font-weight: lighter;
}

header {
    margin-top: 10px;
    position: relative;
    height: 125px;
}

h1 {
    font-family: var(--font-site-title);
    font-size: 2.5em;
    margin-bottom: 0px;
    position: absolute;
    left: 65px;
    bottom: 55px;
}

h2 {
    font-family: var(--font-heading);
    font-size: 1.1em;
    margin-top: 10px;
}

nav {
    font-family: var(--font-heading);
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

h3 {
    font-family: var(--font-heading);
    font-weight: normal;
    text-transform: uppercase;
}

section {
    margin-top: 20px;
    display: flex;
}

aside {
    width: 235px;
    height: 400px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 0.9em;
}

article {
    width: 625px;
    box-shadow: 0px 2px 4px .5px darkgray;
    border-radius: 5px;
    padding: 0px 10px 1px 10px;
    margin-right: 10px;
    position: relative;
}

footer {
    margin-top: 10px;
    margin-bottom: 20px;
    background:  url('images/top.png') no-repeat top center, url('images/line.png') repeat-x top, url('images/shadow.png') repeat-x top;
    padding-top: 33px;
    display: flex;
}

/* Styling object*/

.banner {
    position: relative;
}

.banner-background {
    position: absolute;
    bottom: 0px;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.banner {
    background: url('images/sanfrancisco.jpg') no-repeat;
    height: 200px;
    border-radius: 5px;
}

.banner-background {
    height: 40px;
    width: 900px;
    background-color: rgba(24,24,24,0.8);
    border-radius: 0px 0px 5px 5px;
}

.banner-description {
    color: white;
    font-size: 0.8em;
    padding: 0px 5px;
}

.red-button {
    height: 30px;
    background: url('images/red_background.png');
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.arrow {
    padding: 0px 0px 0px 5px;
}

h3 span {
    position: absolute;
    top: 30px;
    left: 65px;
}

.blog {
    text-align: justify;
}

.headshot {
     text-align: center;
}

.headshot img {
    border: 1px solid black;
}

.bio {
    text-align: justify;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.my-tweets {
    width: 28%;
    height: 150px;
    box-shadow: 0px 2px 4px .5px darkgray;
    border-radius: 5px;
    padding: 5px 10px 1px 10px;
}

.my-pictures {
    width: 35%;
    height: 150px;
    box-shadow: 0px 2px 4px .5px darkgray;
    border-radius: 5px;
    padding: 5px 10px 1px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-pictures .gallery {
    display: flex;
    justify-content: space-around;
}

.my-pictures .gallery img{
    border: 1px solid black;
}

.my-friends {
    width: 31%;
    height: 150px;
    box-shadow: 0px 2px 4px .5px darkgray;
    border-radius: 5px;
    padding: 5px 10px 1px 10px;
}

.my-friends ul li {
    list-style-image: url('images/external_link.png');
    color: #760001;
}

.my-friends ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 0px;
}

